<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practiceapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".FCMMessageHandler"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Booking_Notification" />
        <activity android:name=".myprofile" />
        <activity android:name=".sendmail" />
        <activity android:name=".sendsms" />
        <activity android:name=".AboutUs" />
        <activity android:name=".contact_us" />
        <activity android:name=".view_pager" />
        <activity android:name=".view_bookings" />
        <activity android:name=".HomeMain" />
        <activity android:name=".review_booking" />
        <activity
            android:name=".Form"
            android:exported="true" />
        <activity android:name=".date_time" />
        <activity
            android:name=".loginactivity"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>